/* ==========================================================================
   #SECTIONS
   ========================================================================== */

.c-section {
  margin: 0;
  padding: inuit-rem($inuit-global-spacing-unit) 0;
  .wrapper {
   // padding: 0 inuit-rem($inuit-global-spacing-unit);
  padding: 0 1.5rem 0 0;
  }
  @include mq($from: tablet) {
    padding: inuit-rem($inuit-global-spacing-unit-large) 0;
  }
  @include mq($from: desktop) {
    padding: inuit-rem($inuit-global-spacing-unit-huge) 0;
  }
}

.c-section__heading {
  text-align: center;
  color: $color-primary;
}

.c-section--articles {
  background-color: $color-lightest-grey;
  padding-bottom: 0;
}

.c-section--events {
  @include mq($from: tablet) {
    .c-event {
      margin: inuit-rem($inuit-global-spacing-unit-small) 1%;
      max-width: 48%;
    }
  }
}

.c-section--main-nav {
  background-color: white;
  padding: 0;
  position: absolute;
  //margin-bottom: -1px;
  width: 20rem;
  //hiding menu into hamburger
  //display: none;
  //@include mq($from: tablet) {
  //  display: block;
  //}
}

.c-section--projects {
  color: white;
  background-color: $color-secondary;
  .c-section__heading {
    color: black;
  }
}

.c-section--nav {
  padding: 0;
  background-color: $color-secondary;
}